// Body
$body-bg: #eaeaea;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main-bg: #444;
$main-bg-darker: #373737;
$primary-color: #007bff;
$main-shadow: #9b9b9b;
$label-color: #717171;
$headers: #eaeaea;

//mixins
@mixin bx-shadow(){
    box-shadow: 0 0px 8px 1px #d7d7d7e8;
}