// Body
$body-bg: #eaeaea;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main-bg: #444;
$primary-color: #ffa400;
$main-shadow: #9b9b9b;
$label-color: #dcdcdc;

//mixins
@mixin bx-shadow(){
    box-shadow: 0 2px 7px 2px $main-shadow;
}
